@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Mobile */
@media screen and (max-width: 73.0625em) {
    *{
        font-family: "Inter", sans-serif;
        font-style: normal;
    }
    html,body{
        margin:0;
        padding:0;
        /* width:100%; */
        box-sizing: border-box;
    }
    p{
        font-size:15px;
        font-weight:700;
    }
    body{
        padding:2rem 1rem;
        width:100vw;
        height:100dvh;
    }
    header{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        /* position:relative; */
        /* z-index:1; */
    }
    header img:not(:first-child){
        /* aspect-ratio:1; */
        object-fit:cover;
        height:1.4rem;
    }
    .popup{
        display: none;
        flex-direction: row;
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:100dvh;
        /* border:1px solid red; */
    }
    .leftblack{
        flex-basis:40%;
        background-color:rgba(0, 0, 0, 0.7);
    }
    .rightdata{
        flex-basis:60%;
        background-color:hsl(36, 100%, 99%);
        padding:2rem 1rem;
        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        gap:10%;

    }
    .cross{
        display:flex;
        justify-content: end;
    }
    .popup h2{
        color:hsl(236, 13%, 42%);
        font-weight: 400;
    }
    .image{
        background-image:url("./assets/images/image-web-3-mobile.jpg");
        width:100%;
        aspect-ratio:1;
        background-size:cover;
    }
    main{
        margin:0;
        padding:0 0 20% 0;
        /* outline:1px solid red; */
        width:100%;
        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        gap:1.5rem;
    }
    main>div{
        display:flex;
        flex-direction: column;
        gap:4rem;
    }
    .left_and_right{
        display:flex;
        flex-direction:column;
        gap:4rem;
    }
    .left p{
        line-height:1.6;
        color:hsl(236, 13%, 42%);
        font-weight:400;
        
    }
    .left h1{
        font-size:3rem;
        line-height:1;
    }
    button{
        width:50%;
        height:3rem;
        letter-spacing:30%;
        font-weight:800;
        background-color:hsl(5, 85%, 63%);
        border:0;
    }
    h1{
        font-weight:700;
    }
    .right{
        background-color:hsl(240, 100%, 5%);
        box-sizing:border-box;
        padding:0.5rem 1.5rem;
    }
    .right>h1{
        color:hsl(35, 77%, 62%);
    }
    .right>section:not(:last-child){
        border-bottom:1px solid white;
    }
    .right>section>h3{
        color:hsl(36, 100%, 99%);
        font-weight: 700;
    }
    .right>section>p{
        color:hsl(233, 8%, 79%);
        line-height:1.6;
    }
    .trending{
        display:flex;
        flex-direction:column;
        gap:2rem;
    }
    .trending>div{
        display:flex;
        flex-direction: row;
        gap:10%;
        /* justify-content:space-between; */
    }
    .trending>div>img{
        aspect-ratio:1;
        width:30%;
        object-fit:cover;
    }
    .trending *{
        margin:0;
    }
    .trending p{
        line-height: 1.6;
        color:hsl(236, 13%, 42%);
        font-weight:400;
    }
    .trending section{
        display:flex;
        flex-direction:column;
        gap:5%;
    }
    .trending h1{
        color:hsl(5, 85%, 63%);
    }
}









/* Desktop */
@media screen and (min-width: 73.0625em) {
    *{
        font-family: "Inter", sans-serif;
        font-style: normal;
    }

    html,body{
        margin:0;
        padding:0;
        height:100%;
    }
    body{
        display:flex;
        align-items:center;
        justify-content:center;
        /* height:100%; */
    }
    p{
        font-size:15px;
    }
    main{
        width:65%;
        display:flex;
        flex-direction:column;
        gap:1rem;
    }
    .image{
        background-image:url("./assets/images/image-web-3-desktop.jpg");
        width:100%;
        aspect-ratio:3/1;
        /* height:auto; */
        background-size:cover;
        /* background-repeat:no-repeat; */
    }
    .cross{
        display:none;
    }
    header{
        display:flex;
        justify-content: space-between;
        
    }
    header *{
        margin:0;
    }
    header>img:not(:first-child){
        display:none;
    }
    header > img:not(:last-child){
        width:5%;
        aspect-ratio:2/1;
    }
    .options{
        display:flex;
        gap:1rem;
    }
    .options h2{
        font-size:1rem;
        color:hsl(233, 8%, 79%);
        font-weight:800;
    }
    .options h2:hover{
        color:hsl(5, 85%, 63%);
        cursor:pointer;
    }

    .left_and_right{
        display:flex;
        justify-content: space-between;
        /* outline:1px solid red; */
    }
    .left{
        display:flex;
        flex-direction:column;
        flex-basis:65%;
        justify-content:space-between;
    }
    .left >div:not(:last-child){
        flex-basis:20%;
    }
    .trending{
        display:flex;
        justify-content:space-between;
    }
    .bright{
        display:flex;
        gap:2rem;
    }
    .bright>h1{
        font-size:3rem;
        margin:0;
        flex-basis:40%;
    }
    .bright p{
        line-height:1.6;
        color:hsl(236, 13%, 42%);
        font-weight: 400;
    }
    .right{
        background-color: hsl(240, 100%, 5%);
        flex-basis:33%;
        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        /* padding:2%; */
        padding-right:1%;
        padding-left: 1%;
    }
    .right *{
        margin:0;
    }
    .right>h1{
        color:hsl(35, 77%, 62%);
    }
    .right h3{
        color:hsl(36, 100%, 99%);
    }
    .right p{
        color:hsl(233, 8%, 79%);
        line-height:1.6;
    }
    .right>section:not(:last-child){
        border-bottom:1px solid white;
    }
    .right>section{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        padding-bottom:5%;
        gap:1rem;
    }
    .trending > div{
        display:flex;
        gap:1.5rem;
    }
    .trending img{
        width:30%;
        height:auto;
        object-fit:cover;
    }
    .trending *{
        margin:0;
    }
    .trending section{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
    .trending h1{
        font-size:1.5rem;
        color:hsl(5, 85%, 63%);
    }
    .trending h3:hover{
        color:hsl(5, 85%, 63%);
        cursor:pointer;
    }
    .trending section p{
        line-height:1.5;
    }
    .trending p{
        color:hsl(236, 13%, 42%);
        font-weight: 400;
    }
    .pseudomain{
        display:flex;
        flex-direction: column;
        gap:3rem;
    }
    button{
        width:50%;
        height:3rem;
        letter-spacing:30%;
        font-weight:800;
        background-color:hsl(5, 85%, 63%);
        border:0;
    }
    button:hover{
        cursor:pointer;
        background-color:hsl(240, 100%, 5%);
        color:hsl(36, 100%, 99%);
    }
}